<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="dash-wrapper">
    <nav class="navbar">
                    <ul>
                        <li class="nav-link"><a href="/">Home</a></li>
                        <li class="nav-link"><a href="/dashbaord">Dashboard</a></li>
                        <li class="nav-link"><a href="#" id="logout-link">Logout</a></li>
                    </ul>
                </nav>
    <header class="dash-head">
        <h1 class="app-title"><a href="/dashboard">Welcome to your dashboard!</a></h1>
    </header>
    <main class="dash-body">
        {{{ body }}}
    </main>
    <div class="new-post">
        <section>
            <a href="/dashboard">New Post</a>
        </section>
    </div>

</body>

<script src="/js/logout"></script>