<div class="dash-wrap">
    <section>
        <h1>Create Post</h1>

        <form class="new-post">
            <div>
                <label>Title</label>
                <input type="text" id="post-title" name="title"/>
            </div>

            <div>
                <label for="post">Body</label>
                <textarea id="post" name="po"
            </div>


        </form>
    </section>
</div>