<div class="card">
    <div class="card-header">
        <h1>Sign Up</h1>
    </div>
    <form id="sign-form" class="card-body">
        <div>
            <label for="username-input-login">Username</label>
            <input type="username" id="username-input-login"/>
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-input-login"/>
        </div> 
        <button type="submit" id="signup-btn" class="btn">Sign Up</button>
        <a type="button" href="/login">Login</a>
    </form>
</div>

<script src="/js/signup"></script>